# Python Best Practices P1

### 1- List Enumerating

In [1]:
liste = [1,2,3,0,-3,-5]

In [2]:
for i, j in enumerate(liste):
    print('i : ', i)

i :  0
i :  1
i :  2
i :  3
i :  4
i :  5

In [3]:
for i, j in enumerate(liste):
    print('j : ', j)

j :  1
j :  2
j :  3
j :  0
j :  -3
j :  -5

### 2- List Comprehension

In [4]:
squares = []

for i in range(10):
    squares.append(i*i)

In [5]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
best_squares = [i*i for i in range(10)]

In [7]:
best_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 3- Data Sorting

In [8]:
data = [
    {'name' : 'melih','surname' : 'sunman','age' : 22 , 'success' : 5},
    {'name' : 'alper','surname' : 'sunman','age' : 19 , 'success' : 3},
    {'name' : 'tamer','surname' : 'sunman','age' : 13 , 'success' : 7},
    {'name' : 'zümra','surname' : 'sunman','age' : 1 , 'success' : 0},
]

In [9]:
sorted_data = sorted(data, key = lambda x : x['success'], reverse = True)

In [10]:
sorted_data

[{'name': 'tamer', 'surname': 'sunman', 'age': 13, 'success': 7},
 {'name': 'melih', 'surname': 'sunman', 'age': 22, 'success': 5},
 {'name': 'alper', 'surname': 'sunman', 'age': 19, 'success': 3},
 {'name': 'zümra', 'surname': 'sunman', 'age': 1, 'success': 0}]

In [11]:
sorted_data = sorted(data, key = lambda x : x['age'])

In [12]:
sorted_data

[{'name': 'zümra', 'surname': 'sunman', 'age': 1, 'success': 0},
 {'name': 'tamer', 'surname': 'sunman', 'age': 13, 'success': 7},
 {'name': 'alper', 'surname': 'sunman', 'age': 19, 'success': 3},
 {'name': 'melih', 'surname': 'sunman', 'age': 22, 'success': 5}]

### 4- Save Memory with GENERATOR

In [13]:
import sys

In [14]:
l1 = [x for x in range(99999)]

In [15]:
sum(l1)

4999850001

In [16]:
l2 = (x for x in range(99999))

In [17]:
sum(l2)

4999850001

In [18]:
sys.getsizeof(l1), 'bytes'

(800984, 'bytes')

In [19]:
sys.getsizeof(l2), 'bytes'

(104, 'bytes')

### 5- Collection Counter

In [20]:
from collections import Counter

In [21]:
liste = [1,1,2,3,5,5,5,6,7,9,9,4,3,2,1,5,6,4,5,6,8,3,6,5]

In [22]:
counter = Counter(liste)

In [23]:
counter

Counter({1: 3, 2: 2, 3: 3, 5: 6, 6: 4, 7: 1, 9: 2, 4: 2, 8: 1})

In [24]:
for i in counter:
    print(i, ' : ', counter.get(i))

1  :  3
2  :  2
3  :  3
5  :  6
6  :  4
7  :  1
9  :  2
4  :  2
8  :  1

In [25]:
counter.most_common(3)

[(5, 6), (6, 4), (1, 3)]

### 6- f'Strings

In [26]:
name = "Melih"
age = 22

In [27]:
print(f"Hello my name is {name}, I'm {age} years old ")

Hello my name is Melih, I'm 22 years old

In [28]:
x = 3

print(f"{x} times {x} is {x*x}")

3 times 3 is 9

### 7- Merge Dictioneries

In [29]:
d1 = {"name": "AlEx", "age": 25}
d2 = {"name": "AleX", "city": "New York"}
merged_dict = d1 | d2

In [30]:
merged_dict

{'name': 'AleX', 'age': 25, 'city': 'New York'}

### 8- List to String .join()

In [31]:
me = ['Melih', 'Sunman']
joined = ' '.join(me)

In [32]:
joined

'Melih Sunman'

### 9-  Args and Kwargs

In [33]:
def list_to_dict(*args):
    d1 = {}
    for i,j in enumerate(args):
        d1[i] = j
    
    return d1

In [34]:
list_to_dict(9,8,7,6,5,4)

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4}

In [35]:
def kwargs(**kwargs):
    print(kwargs)
kwargs(x=1,y=2)

{'x': 1, 'y': 2}

In [36]:
def args(*args):
    print(args)
    
args(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [37]:
def foo(*liste):
    print(liste)
foo(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [38]:
def foo2(**dic):
    print(dic)
foo2(x = 1, y = 2, z = 3)

{'x': 1, 'y': 2, 'z': 3}

### 10- File Operations

This operation close file automatically so you dont need use file.close()

In [39]:
import codecs
with codecs.open("file.txt", "r", "utf-8-sig") as file:
    for i in file.readlines():
        print(i)

Korkma, sönmez bu şafaklarda yüzen al sancak;

Sönmeden yurdumun üstünde tüten en son ocak.

O benim milletimin yıldızıdır, parlayacak;

O benimdir, o benim milletimindir ancak.



Çatma, kurban olayım çehreni ey nazlı hilâl!

Kahraman ırkıma bir gül… ne bu şiddet bu celâl?

Sana olmaz dökülen kanlarımız sonra helâl,

Hakkıdır, Hakk’a tapan, milletimin istiklâl.

### 11- Checking Function Arguments

In [40]:
 #Checking if 'z' send or not
def foo(x, y, z=None):
    if z!= None:
        print('z is provided')
    else:
        print('z is not provided')

In [41]:
foo(1,2,3)

z is provided

In [42]:
foo(1,2)

z is not provided

### 12- Checking Varible Types

In [43]:
var1 = 3

In [44]:
# That's wrong method

if type(var1) == int:
    print('var1 is int')

var1 is int

In [45]:
# That's the right method

if isinstance(var1, int):
    print('var1 is int')

var1 is int

### 13- Zip Function on Lists

In [46]:
li1 = [1,2,3,4,5]
li2 = ["a", "b", "c", "d"]

In [47]:
for i,j in zip(li1, li2):
    print(i)
    print(j)

1
a
2
b
3
c
4
d

### 14- Getting Dictionaries Items (keys and values)

In [48]:
merged_dict

{'name': 'AleX', 'age': 25, 'city': 'New York'}

In [49]:
for i,j in merged_dict.items():
    print(f'{i} : {j}')

name : AleX
age : 25
city : New York

### 15- Every int equals true except 0

In [50]:
m = 1
n = 0

In [51]:
if m :
    print('m is True')
else:
    print('n is False')

m is True

In [52]:
if n:
    print('n is True')
else:
    print('n is False')

n is False

In [53]:
bool(99)

True

### 16- Tuple / List Unpacking

In [54]:
liste2 = [1,2,3]
tuple1 = ('x', 'y', 'y')

In [55]:
a, b, c = liste2

In [56]:
d, e, f = tuple1

In [57]:
print(a,b,c)
print(d,e,f)

1 2 3
x y y

### 17- Time Measurement

In [58]:
import time

In [59]:
start =time.time()
time.sleep(1)
end =time.time()
print(end-start)

1.0150609016418457

In [60]:
start =time.perf_counter()
time.sleep(1)
end =time.perf_counter()
print(end-start)

1.00584710000021